# 1. НАСТРОЙКИ СЕРВЕРА
NODE_NAME=es-node-XX # XX - номер узла
PUBLISH_HOST=ip_node # поменять на правильный ip

# 2. НАСТРОЙКИ КЛАСТЕРА
CLUSTER_NAME=name_of_cluster # имя кластера
SEED_HOSTS=all_ip_with_elastic # все ip-адреса, где будет развернут elastic
INITIAL_MASTER_NODES=names_of_nodes # перечисления имен узлов elastic

# 3. ПАРОЛИ И КЛЮЧИ
ELASTIC_PASSWORD=password_for_elastic # пароль от elastic
KIBANA_PASSWORD=password_for_kibana # пароль от kibana
KIBANA_ENCRYPTION_KEY=any_secrets_words_of_32char_lenth # придумать ключ на 32 знака в длинну

# 4. ПОДКЛЮЧЕНИЕ К S3
S3_HOST=s3_host # хост для s3
